
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.user-info{
   
    margin: .25em;
    padding: 1.5rem 2rem;
    border-radius: .2em;
    box-shadow: 5px 3px 5px rgb(69, 87, 38, 0.8);
    flex-grow: 1;
    background: rgba(85, 107, 47, 0.8);
    align-items: center;
    justify-content: center;
}


.user-friends{

    margin: .25em;
    padding: 1.5rem 2rem;
    border-radius: .2em;
    box-shadow: 5px 3px 5px rgb(69, 87, 38, 0.8);
    overflow: scroll;
    background: rgba(85, 107, 47, 0.8);
}

.friends{
    margin: 1em;
    flex-wrap: wrap;
    background: transparent;
    
}

.profilePic{
    border-radius: 10em;
    height: 200px;
    width: 200px;
}
.friendsPic{
    border-radius: 10em;
    height: 2rem;
    width: 2rem;
    
}

