
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.user-info{
    background-color: darkolivegreen;
    margin: .25em;
    padding: 1.5rem 2rem;
    border-radius: .2em;
    box-shadow: 5px 3px 5px rgb(52, 66, 25);
    flex-grow: 1;
}


.user-friends{
    background-color: darkolivegreen;
    justify-content: center;
    margin: .25em;
    padding: 1.5rem 2rem;
    border-radius: .2em;
    box-shadow: 5px 3px 5px rgb(52, 66, 25);
    flex-wrap: wrap;
    overflow: scroll;
}

.friends{
    margin: 1em;
    flex-wrap: wrap;
    
}

.profilePic{
    border-radius: 10em;
    height: 200px;
    width: 200px;
}
.friendsPic{
    border-radius: 10em;
    height: 2rem;
    width: 2rem;
}