ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li {
  font-size: 1.25rem;
}

.navBar {
  box-shadow: 5px 3px 5px rgb(52, 66, 25); 
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .2em;
  background-color: darkolivegreen;
  
}

.navBar button {
  background: darkolivegreen;
  border: 0px solid black;
  color: black;
  padding: 0.4rem 0.5rem;
  border-radius: 1em;
}

.navBar button:hover {
  color: rgb(36, 53, 5);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}

.logox{
  border-radius: 3em;
}
 .brand:hover{
   color: black;
   
 }